body {
  overflow: hidden;
}

.background-effect {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: -1;
}

.circle {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  border: solid;
  animation: fadeIn 1s ease-out forwards, fadeOut 15s linear forwards;
  transform: translate(var(--x, 0), var(--y, 0));

  z-index: -1;

  user-select: none;
}
